@font-face {
	font-family: 'Inter';
	src:
		local('Inter Thin'),
		local('Inter-Thin'),
		url('../fonts/Inter-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src:
		local('Inter Bold'),
		local('Inter-Bold'),
		url('../fonts/Inter-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src:
		local('Inter Light'),
		local('Inter-Light'),
		url('../fonts/Inter-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src:
		local('Inter Regular'),
		local('Inter-Regular'),
		url('../fonts/Inter-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
